* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-image: url(fondomobile.jpg);
}

/*--------------------------------------------------------------------------------------------------------*/
.navbar ul {
  width: 100%;
  margin: auto;
}

@media (min-width: 576px) {
  body {
    background-image: url(/imagenes/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  main {
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
  }

  #carouselExampleDark {
    height: 300px;
    display: none;
  }
  #carouselExampleDark img {
    height: 200px;
  }

  .index__wrapper {
    margin: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "uno tres" "dos dos";
    -moz-column-gap: 2%;
         column-gap: 2%;
    row-gap: 10%;
  }

  .index__texto {
    height: auto;
    width: auto;
    grid-area: uno;
  }
  .index__texto p {
    text-align: center;
  }
  .index__texto h3 {
    font-size: 5em;
    font-weight: 900;
    text-align: center;
  }

  .index__texto3 {
    grid-area: tres;
    width: auto;
    height: auto;
  }
  .index__texto3 h3 {
    margin-bottom: 10%;
  }

  .index__texto2 {
    grid-area: dos;
    align-self: flex-end;
    margin-top: 0%;
    margin: 5% 5% 10% 5%;
    padding: 5%;
  }
  .index__texto2 h4 {
    padding: 5%;
  }
  .index__texto2 h5 {
    font-size: 2em;
    margin-top: 2%;
  }
  .index__texto2 p {
    font-size: 1.4em;
    padding: 8%;
  }
}
@media (max-width: 576px) {
  .index__banner {
    display: none;
  }

  .index__main {
    background-color: rgba(255, 255, 255, 0.83);
    border: 0.1rem solid grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .index__texto2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
  }
}
/*---------------------------------------RESPONSIVE---------------------------------------*/
main {
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 3rem;
  padding: 3%;
  text-align: center;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 5%;
}

.index__texto {
  font-weight: 500;
}
.index__texto h3 {
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 2.5em;
}
.index__texto p {
  font-size: 1.4em;
  margin-top: 5%;
}
.index__texto h5 {
  font-size: 2rem;
  margin-top: 6%;
}

.index__banner {
  width: 100%;
}

#banner {
  width: 100%;
  height: 150px;
}

#carouselExampleDark {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

div > img {
  width: 80%;
  height: 15rem;
}

.index__texto3 h3 {
  font-size: 2.5rem;
}
.index__texto3 p {
  font-size: 1.4rem;
}

.index__texto2 {
  background-color: rgba(147, 136, 136, 0.183);
  padding: 0 5% 0 5%;
}
.index__texto2 h4 {
  font-size: 2.5rem;
  margin-bottom: 10%;
}
.index__texto2 img {
  width: 15rem;
  height: 15rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 50%;
}
.index__texto2 p {
  font-size: 1.2rem;
}

/*---------------------------------------FOOTER---------------------------------------*/
.row {
  margin-top: 10%;
  height: 13rem;
  background-color: #212529;
  color: #cbccce;
  text-align: center;
}
.row i {
  margin-right: 2rem;
  font-size: 2.5em;
  color: rgba(167, 228, 161, 0.83);
  margin-top: 3%;
}
.row i:hover {
  color: rgba(55, 100, 51, 0.83);
}
.row img {
  height: 4.5rem;
  width: 4.5rem;
}

#footer__iconos {
  font-size: 1.3em;
  z-index: 1;
}

/*---------------------------------------TRATAMIENTOS---------------------------------------*/
@media (max-width: 576px) {
  .tratamientos__wrapper {
    background-color: rgba(255, 255, 255, 0.692);
    color: #010101;
    font-weight: 800;
  }
}
.tratamientos__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  row-gap: 5%;
  -moz-column-gap: 3%;
       column-gap: 3%;
  background-color: rgba(147, 136, 136, 0.183);
  padding: 5%;
  margin: 5%;
}
.tratamientos__wrapper img {
  border-radius: 50%;
  margin-bottom: 5%;
  padding: 10%;
  transition: transform 0.5s;
}
.tratamientos__wrapper img:hover {
  transform: scale(1.2);
}
.tratamientos__wrapper div {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin: auto;
  border-radius: 12%;
  background-color: rgba(42, 42, 42, 0.183);
  margin-bottom: 5%;
}
.tratamientos__wrapper h2 {
  margin-bottom: 10%;
  width: 100%;
}

/*---------------------------------------LISTA DE TRATAMIENTOS---------------------------------------*/
.imagen {
  width: 100%;
}

/*---------------------------------------ABDOMEN---------------------------------------*/
.tratamiento__flacidezWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__flacidezWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__flacidezWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------ACNE---------------------------------------*/
.tratamiento__acneWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__acneWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__acneWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------ARRUGAS---------------------------------------*/
.tratamiento__arrugasWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__arrugasWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__arrugasWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------ESTRIAS---------------------------------------*/
.tratamiento__estriasWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__estriasWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__estriasWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------LABIOS---------------------------------------*/
.tratamiento__labiosWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__labiosWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__labiosWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------VARICES---------------------------------------*/
.tratamiento__varicesWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__varicesWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__varicesWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------PAPADA---------------------------------------*/
.tratamiento__papadaWrapper {
  background-color: rgba(42, 42, 42, 0.183);
  margin: 0% 5% 0 5%;
  padding: 5%;
  height: 100%;
}
.tratamiento__papadaWrapper img {
  width: 50%;
  height: 50%;
}
.tratamiento__papadaWrapper p {
  margin-top: 3%;
  font-size: 1.5rem;
}

/*---------------------------------------NUESTROS MEDICOS---------------------------------------*/
@media (max-width: 576px) {
  .medicos__wrapper {
    color: white;
  }
}
.medicos__wrapper {
  display: flex;
  padding: 5%;
  margin: 5%;
  background-color: rgba(42, 42, 42, 0.183);
}
.medicos__wrapper h1 {
  width: 100%;
  margin-bottom: -5%;
  margin-top: -3%;
}
.medicos__wrapper p {
  padding: 5%;
}

.card {
  margin-bottom: 8%;
}

.card-text {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.card-title {
  font-size: 2.2rem;
  color: white;
  font-weight: bolder;
}

/*---------------------------------------CONTACTO---------------------------------------  */
@media (max-width: 576px) {
  .contacto__wrapper {
    background-color: white;
  }

  form {
    margin-bottom: 5%;
  }
}
.contacto__wrapper {
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-flow: column;
}
.contacto__wrapper form {
  width: 85%;
  margin: auto;
  margin-top: -5%;
}
.contacto__wrapper .contacto__adress {
  font-size: 1rem;
  text-align: center;
  margin-top: 10%;
  margin: auto;
}
.contacto__wrapper .contacto__adress ul {
  margin-top: 10%;
}
.contacto__wrapper .contacto__adress h3 {
  font-size: 2rem;
  margin-bottom: 5%;
}
.contacto__wrapper .contacto__adress li {
  list-style: none;
  text-align: center;
  font-size: 1.3rem;
}

/* ---------------------------------------PROMOCIONES---------------------------------------*/
@media (max-width: 576px) {
  .promociones__wrapper {
    background-color: white;
  }
}
.promociones__wrapper {
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.promociones__wrapper h1 {
  width: 100%;
}
.promociones__wrapper div {
  width: 20em;
  margin-bottom: 5%;
}
.promociones__wrapper h2 {
  font-size: 1.3rem;
  width: auto;
}
.promociones__wrapper a {
  color: rgba(167, 228, 161, 0.83);
}
.promociones__wrapper img {
  width: 80%;
  height: 80%;
  border-top-left-radius: 30%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid rgba(42, 42, 42, 0.183);
}
.promociones__wrapper p {
  width: 100%;
  margin: auto;
  margin-top: 5%;
}
.promociones__wrapper .promociones__paragraph {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */